<a href="https://colab.research.google.com/github/Kart-95/final-project/blob/main/Final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
trainset=pd.read_csv('/content/train.xlsx - Sheet1.csv')

In [14]:
testset=pd.read_csv('/content/train.xlsx - Sheet1.csv')

In [3]:
trainset.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
trainset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
trainset.isna().sum() #to find null data

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
trainset['Credit_History'].fillna(trainset['Credit_History'].mode(), inplace=True) # to fill null values with mode
trainset['LoanAmount'].fillna(trainset['LoanAmount'].mean(), inplace=True) #  to fill null values with mean

In [15]:
testset['Credit_History'].fillna(testset['Credit_History'].mode(), inplace=True)
testset['LoanAmount'].fillna(testset['LoanAmount'].mean(), inplace=True)

In [7]:
trainset.Loan_Status = trainset.Loan_Status.replace({"Y": 1, "N" : 0}) # to replace categorical data with 1 and 0
trainset.Gender = trainset.Gender.replace({"Male": 1, "Female" : 0})
trainset.Married = trainset.Married.replace({"Yes": 1, "No" : 0})
trainset.Self_Employed = trainset.Self_Employed.replace({"Yes": 1, "No" : 0})

In [17]:
testset.Loan_Status = testset.Loan_Status.replace({"Y": 1, "N" : 0})
testset.Gender = testset.Gender.replace({"Male": 1, "Female" : 0})
testset.Married = testset.Married.replace({"Yes": 1, "No" : 0})
testset.Self_Employed = testset.Self_Employed.replace({"Yes": 1, "No" : 0})

In [8]:
trainset['Gender'].fillna(trainset['Gender'].mode()[0], inplace=True)
trainset['Dependents'].fillna(trainset['Dependents'].mode()[0], inplace=True)
trainset['Credit_History'].fillna(trainset['Credit_History'].mean(), inplace=True)
trainset['Married'].fillna(trainset['Married'].mode()[0], inplace=True)

In [18]:
testset['Gender'].fillna(testset['Gender'].mode()[0], inplace=True)
testset['Dependents'].fillna(testset['Dependents'].mode()[0], inplace=True)
testset['Credit_History'].fillna(testset['Credit_History'].mean(), inplace=True)
testset['Married'].fillna(testset['Married'].mode()[0], inplace=True)

In [19]:
from sklearn.preprocessing import LabelEncoder
col = ['Property_Area','Education', 'Dependents']
lab = LabelEncoder()
for i in col:
    trainset[i] = lab.fit_transform(trainset[i])
    testset[i] = lab.fit_transform(testset[i])

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [11]:
loan_model = LogisticRegression()

In [12]:
train_features = ['Credit_History', 'Education', 'Gender']

xtrain = trainset[train_features].values
ytrain = trainset['Loan_Status'].values

In [27]:
xtest = testset[train_features].values
ytest = testset['Loan_Status'].values

In [13]:
loan_model.fit(xtrain, ytrain)

LogisticRegression()

In [21]:
predicted = loan_model.predict(xtest)

In [22]:
print('Coefficient of model :', loan_model.coef_)

Coefficient of model : [[ 3.316164   -0.3059193   0.09398266]]

In [23]:
print('Intercept of model',loan_model.intercept_)

Intercept of model [-1.98307795]

In [25]:
score = loan_model.score(xtrain, ytrain)# Accuray Score on train dataset
print('accuracy_score overall :', score) 
print('accuracy_score percent :', round(score*100,2))

accuracy_score overall : 0.8094462540716613
accuracy_score percent : 80.94

In [30]:
import pickle as pkl

In [31]:
loan_model.fit(xtrain, ytrain)
# save the model to disk
filename = 'finalized_model.sav'
pkl.dump(loan_model, open(filename, 'wb'))

In [33]:
loaded_model = pkl.load(open(filename, 'rb'))
result = loaded_model.score(xtest, ytest)
print(result)

0.8094462540716613